{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <br>

       <h2>{{ sallesid.nom}}</h2>

      {#  <h2>salle.nom</h2>#}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
              {#  <h4>Rechercher:</h4>
                formulaire de recherche
               <div class="form-group">
                    <label class="col-form-label" for="inputDefault">Entre</label>
                    <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="inputDefault">
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="inputDefault">Et</label>
                    <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="inputDefault">
                </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-lg btn-success">Rechercher</button>
                </div>#}
            </div>
            <div class="col-lg-6 ">
                <canvas id="graph1"></canvas>
              {# a voir quand le csv ok
               <form name="textarea"  >
                    {{ form_start(formImport) }}
                    <div class="form-group">
                        {{ form_row(formImport.saisie) }}
                        {{ form(formImport.salle) }}
                        <button type="submit" class="btn btn-sm btn-success" name="enregistrer" value="enregistrer">Enregistrer</button>
                    </div>
                    {{ form_end(formImport) }}
                </form>#}
            </div>
            <div class="col-lg-4">
                <table class="table table-hover" >
                    <thead>
                    <tr class="table-success"  >
                            <th scope="col">date</th>
                            <th scope="col">temperature</th>
                            <th scope="col">hygrométrie</th>
                    </tr>
                    </thead>
                    {% for mesure in mesures %}
                        <tr onclick="location.href='{{ path('modif_Mesure',{'id': mesure.id}) }}', target='_blank';;" onMouseOver="this.style.cursor='pointer'; this.bgColor = '009999'; " onMouseOut ="this.bgColor = 'FFFFFF'">
                            <td>{{ mesure.date|date('d/m/Y') }}</td>
                            <td>{{ mesure.temperature }}°C</td>
                            <td>{{ mesure.hygrometrie }}%</td>
                        </tr>
                    {% endfor %}
                </table>
                <br>
                <div class="text-center">
                    <a href="{{ path('creer_mesure') }}" class="btn btn-sm btn-primary" name="ajouter">Ajouter</a></div>
            </div>
        </div>
    </div>
{#partie pour le graphique graphique: #}
    <script>
        var ctx = document.getElementById('graph1').getContext('2d')
        var data = {
            labels :[{% for mesure in mesures %}
                '{{ mesure.date|date('d/m/Y') }}',
                {% endfor %}
            ],
            datasets: [{

                label:'temper',
                data :[ {% for mesure in mesures %}
                    {{ mesure.temperature }},
                    {% endfor %} ]
            },
                {
                    label: 'hygrom',
                    data: [{% for mesure in mesures %}
                        {{ mesure.hygrometrie}},
                        {% endfor %}
                    ]
                }
            ]
        }
        var option
        var config = {
            type:'line',
            data: data ,
            option: option
        }
        var graph1 = new Chart(ctx, config)
    </script>

{%endblock %}

