{% extends 'base.html.twig' %}


{% block body %}
    <link href="{{ asset('vueEnsemble.css') }}" rel="stylesheet">

    {% if app.user %}
        <div class="offset-9 col-mb-2">
            <h3> Bienvenue {{ app.user.nom }}</h3>
        </div>
    {% endif %}

    <div class="container">
        <div class="text-center">
            <br>
            <h2>Vos thermo-hygromètres</h2>
        </div>

    </div>

    <div class="container">
            <div class ="col-md-9">
                <div class="grid">

                    <a href="{{ path('detail', {id:4}) }}">
                        <div class="card border-primary mb-3" style="max-width: 20rem;">
                            <div class="card-header ">salle 4</div>
                            <div class="card-body">
                                <canvas id="graph1"></canvas>
                            </div>
                        </div>
                    </a>

                    <a href="{{ path('detail', {id:10}) }}">
                        <div class="card border-primary mb-3" style="max-width: 20rem;">
                            <div class="card-header ">salle 10</div>
                            <div class="card-body">
                                <canvas id="graph2"></canvas>
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('detail', {id:14}) }}">
                        <div class="card border-primary mb-3" style="max-width: 20rem;">
                            <div class="card-header ">salle 14</div>
                            <div class="card-body">
                                <canvas id="graph3"></canvas>
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('detail', {id:21}) }}">
                        <div class="card border-primary mb-3" style="max-width: 20rem;">
                            <div class="card-header ">salle 21</div>
                            <div class="card-body">
                                <canvas id="graph4"></canvas>
                            </div>
                        </div>
                    </a>
                    <!--
                    <canvas id="graph2"></canvas>
                    <canvas id="graph3"></canvas>
                    <canvas id="graph4"></canvas>
-->



                </div>
            </div>
        </div>
    </div>


    </body>
    </html>

    <script>
        var ctx = document.getElementById('graph1').getContext('2d')

        var data = {
            labels :['01/03/2020' , '02/03/2020' ,'03/03/2020' , '04/03/2020'],
            datasets: [{

                label:'temper',
                data :['19','22', '19', '23' ]
            },
                {
                    label: 'hygrom',
                    data: ['49','50','48','47']
                },
            ]
        }
        var option
        var config = {
            type:'line',
            data: data ,
            option: option
        }
        var graph1 = new Chart(ctx, config)

        //graph2
        var ctx = document.getElementById('graph2').getContext('2d')

        var data = {
            labels :['01/03/2020' , '02/03/2020' ,'03/03/2020' , '04/03/2020'],
            datasets: [{

                label:'temper',
                data :['19','22', '19', '23' ]
            },
                {
                    label: 'hygrom',
                    data: ['49','50','48','47']
                },
            ]
        }
        var option
        var config = {
            type:'line',
            data: data ,
            option: option
        }
        //graph3
        var graph3 = new Chart(ctx, config)
        var ctx = document.getElementById('graph3').getContext('2d')

        var data = {
            labels :['01/03/2020' , '02/03/2020' ,'03/03/2020' , '04/03/2020'],
            datasets: [{

                label:'temper',
                data :['19','22', '19', '23' ]
            },
                {
                    label: 'hygrom',
                    data: ['49','50','48','47']
                },
            ]
        }
        var option
        var config = {
            type:'line',
            data: data ,
            option: option
        }
        var graph3 = new Chart(ctx, config)

        //graph4
        var ctx = document.getElementById('graph4').getContext('2d')

        var data = {
            labels :['01/03/2020' , '02/03/2020' ,'03/03/2020' , '04/03/2020'],
            datasets: [{

                label:'temper',
                data :['19','22', '19', '23' ]
            },
                {
                    label: 'hygrome',
                    data: ['49','50','48','47']
                },
            ]
        }
        var option
        var config = {
            type:'line',
            data: data ,
            option: option
        }
        var graph4 = new Chart(ctx, config)
    </script>


{% endblock %}
